.cardGrupo{
    display: flex;
}

.cardStyle{
    font-family: 'Poppins', semi-bold;
    font-size: 15px;
    border: 4px solid #6E2594;
    border-radius: 10px;
    width: 21rem;
}


.showMoreB{
    font-family: 'Poppins' semi-bold;
    margin-top: 12vh;
    margin-bottom: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fundoGroupCard{
    background-color: #FAF4D3;
}

.cardGrupo{
    flex-wrap: wrap;
}