header{
    position: absolute;
    width: 1601px;
    height: 141px;
    left: 0px;
    top: 0px;
    
    background: #FFB100;
    border-radius: 5px;
}

.header_titles{
    position: absolute;
    width: 1036.25px;
    height: 54.78px;
    left: 389px;
    top: 51px;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;

    color: #000000;
}

.logo{
    position: absolute;
    width: 148.43px;
    height: 81.67px;
    left: 164.57px;
    top: 26.33px;
}

footer{
    position: absolute;
    width: 1630px;
    height: 434px;
    left: -29px;
    top: 2554px;

    background: #0D3B66;
}