.mom_preload{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    justify-content: center;
    column-gap: 50px;
    row-gap: 1rem;
    padding: 30vh 10vw;
    align-items: center;
}